/* ------------------- GENERAL ------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

h1, h2, h3, h4, p, ul {
  font-family: 'Roboto', sans-serif;
}

p {
  color: #696A6A;
}

/* Titre visible au dessus lors de la navigation par le menu */

.espace {
  padding-top: 120px;
  margin-top: -120px;
}

#services, #projets, #contact {
  padding-top: 20px;
}

#services h1, #projets h1 {
  margin-top: 0;
  padding-top: 0;
}

/* Pas de cadre gris sur IE sur img cliquable */

a img {
  border: 0;
}

/* trait sous slider */

#one .dividerBlueLeft {
  width: 50%;
  height: 3px;
  background-color: #5cadd3;
  opacity: 1;
  position: absolute;
  top: 547px;
}

#two .dividerBlueRight {
  width: 50%;
  height: 3px;
  background-color: #5cadd3;
  opacity: 1;
  position: absolute;
  margin-left: 50%;
  top: 547px;
}

/* traits separateur + rond bleu */

.divider {
  width: 60%;
  height: 3px;
  background-color: #ebebeb;
  opacity: 0.3;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.rond_bleu {
  width: 14px;
  height: 14px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  background: #5cadd3;
  border-radius: 50%;
  position: relative;
  border: 3px solid #fff;
}

.rond_bleu::before {
  content: "";
  border-left: 100px solid #d7d7d7;
  height: 1.4px;
  margin-top: 7px;
  position: absolute;
  left: 160%;
}

.rond_bleu::after {
  content: "";
  border-right: 100px solid #d7d7d7;
  height: 1.4px;
  margin-top: 7px;
  position: absolute;
  right: 160%;
}

/* ------------------- HEADER ------------------- */

/* Menu Fixe */

header {
  position: fixed;
  z-index: 4;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header ul {
  list-style-type: none;
  display: flex;
}

header a {
  padding: 0px 10px;
  text-decoration: none;
  color: #5d5d5d;
}

/* sup case sur mobile */

#nav, label {
  display: none;
}

/* ------------------- SLIDER ------------------- */

#slider, .slide {
  height: 650px;
  /* Taille slide + menu */
  color: #fff;
  font-weight: bold;
  overflow: hidden;
  width: 100%;
}

#slider {
  position: relative;
}

/* Slide visible sous le menu lors du clic sur les ancres */

.header_slide {
  height: 100px;
}

.body_slide {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 550px;
}

#one .body_slide {
  background: url('../img/bg1.jpg') no-repeat center;
  background-size: cover;
}

#two .body_slide {
  background: url('../img/bg2.jpg') no-repeat center;
  background-size: cover;
}

/* Effet transition slide */

#one {
  opacity: 1;
  position: absolute;
  left: 0;
  top: 0;
}

#two {
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

#two:target {
  opacity: 1;
}

/*  liens de nav slider */

.slide nav a {
  z-index: 2;
  background: rgba(0, 0, 0, .4);
  color: #fff;
  text-decoration: none;
  height: 70px;
  width: 70px;
  border-radius: 35px;
  position: absolute;
  top: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide nav a:hover {
  background: rgba(0, 0, 0, .8);
}

.prev {
  left: -25px;
}

.next {
  right: -25px;
}

.prev i {
  padding-left: 20px;
}

.next i {
  padding-right: 20px;
}

/* Texte slider */

.text_slide {
  margin: 10%;
  max-width: 700px;
}

.text_slide h1 span {
  color: #5cadd3;
  font-size: 45px;
}

.text_slide p {
  margin-bottom: 40px;
  color: #fff;
}

/* Effet bouton */

.text_slide a {
  color: white;
  background-color: #5cadd3;
  padding: 10px 15px;
  border-radius: 3px;
  border-bottom: 3px solid #4494bb;
  text-decoration: none;
}

/* ------------------- SERVICES ------------------- */

#services {
  margin-bottom: 50px;
  height: 100%;
}

#services_body {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

#conteneur_services {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

#services .services_description {
  display: flex;
}

#services .services_text {
  margin-left: 20px;
  margin-top: 50px;
  max-width: 600px;
}

#services .title h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 45px;
}

#services .title p {
  font-size: 15px;
  text-align: center;
  width: 100%;
}

#services .title p {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
}

.services_logo {
  display: flex;
  align-self: center;
  justify-content: center;
  position: relative;
  margin-left: 50px;
}

#services .fa-cubes, .fa-chart-pie, .fa-chart-line {
  padding: 20px 11px;
  border: 1px solid #d7d7d7;
  color: #5cadd3;
  border-radius: 100%;
  margin-left: -1.3em;
  margin-top: 1px;
}

#services .cercle_rond-bleu {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background-color: #5cadd3;
  position: absolute;
  left: -17px;
  top: 23px;
  border: 3px solid #fff;
}

/* ------------------- PROJETS ------------------- */

#projets {
  text-align: center;
  background-color: #f5f5f5;
}

#projets .title h1 {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
}

#projets .title p {
  font-size: 15px;
  color: #717479;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 25%;
  margin-right: 25%;
}

/* MENU PROJETS */

/* Concerne la barre de navigation */

#projets nav {
  height: 40px;
  width: 30%;
  margin: 30px auto;
  display: flex;
  align-items: center;
}

#projets ul {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
}

#projets li {
  height: 100%;
  width: 25%;
  background-color: #e5e5e5;
  list-style-type: none;
  position: relative;
  /* Pour positionner la flèche bleue lors du survol */
}

#projets li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #686c71;
  text-decoration: none;
}

#projets nav a:hover {
  background-color: #5cadd3;
  box-shadow: 0 -3px #468cad inset;
  color: #fff;
  border: 0px;
  height: 100%;
}

#projets li:hover .fleche {
  position: absolute;
  top: 100%;
  left: 46%;
  width: 1px;
  height: 1px;
  border-top: 8px #468cad solid;
  border-left: 7px transparent solid;
  border-right: 7px transparent solid;
}

/* border radius sur le coté gauche et droit du menu */

#projets li:nth-child(1) a:hover {
  border-radius: 4px 0 0 4px;
}

#projets li:nth-child(4) a:hover {
  border-radius: 0 4px 4px 0;
}

#projets .img_container {
  width: 20%;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
  position: relative;
}

#projets .img_container img {
  width: 100%;
}

#projets .img_container:hover .imgHover {
  opacity: 1;
}

#projets .imgHover {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  opacity: 0;
  bottom: 4px;
  height: 95px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

#projets .text {
  position: absolute;
  color: #fff;
  font-size: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#projets .exemple svg {
  position: absolute;
  top: -24px;
  right: 6px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 52px;
  background-color: #4591b1;
  font-size: 15px;
  padding: 15px;
}

/* ------------------- CONTACT ------------------- */

#contact {
  background-color: #f5f5f5;
}

#contact {
  position: relative;
}

.google_maps {
  width: 100%;
  position: absolute;
  height: 600px;
}

#conteneur_contact {
  right: 3%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 600px;
  position: absolute;
}

form {
  background-color: rgba(255, 255, 255, .9);
  width: 300px;
  height: 70%;
  margin: 40px 150px;
  padding: 20px;
  padding-right: 30px;
  border-radius: 3px;
}

form h2 {
  padding: 0px;
  margin: 0px 0px 5px 0px;
  font-size: 180%;
}

form p {
  margin-bottom: 15px;
}

input {
  width: 100%;
  height: 25px;
  border-radius: 3px;
  margin-bottom: 15px;
  padding-left: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 3px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.bouton {
  color: #fff;
  background-color: #5cadd3;
  border-bottom: 3px solid #4494bb;
  border-radius: 3px;
  padding: 5px 15px;
  text-decoration: none;
}

/* ------------------- MEDIA QUERIES ------------------- */

/* Sur tablettes et smartphones et petits ecrans */

@media all and (max-width: 1024px) {
  form {
    margin: 0;
    width: 80%;
    /* formulaire toute largeur */
  }
  #services_body {
    flex-wrap: wrap;
    /* services en colonnes */
  }
  #conteneur_contact {
    justify-content: center;
  }
  .body_slide {
    height: 450px;
    /* petit slider */
  }
  #slider, .slide {
    height: 550px;
    /* petit slider */
  }
  .text_slide {
    max-width: 450px;
  }
  #one .dividerBlueLeft {
    top: 447px;
  }
  #two .dividerBlueRight {
    top: 447px;
  }
  #projets .img_container {
    width: 33.33%;
  }
}

/* Sur Desktop et tablettes format paysage, bordure bleue hover du menu principal */

@media all and (min-width: 780px) {
  header nav a:hover {
    border-top: 3px solid rgb(92, 173, 211);
    padding-top: 38px;
  }
}

/* Sur smartphones et tablettes format portrait, menu hamburger */

@media screen and (max-width: 780px) {
  header {
    justify-content: space-between;
  }
  nav ul {
    display: none;
    /* Suppression du menu */
  }
  /* logo hamburger */
  label {
    /* carré */
    display: block;
    background-image: linear-gradient(rgb(31, 178, 177), rgb(52, 158, 196));
    width: 40px;
    height: 40px;
    border-bottom: solid 4px #468cad;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
    padding-top: 5px;
  }
  label:after {
    /* 3 traits */
    content: '';
    display: block;
    width: 20px;
    /* 1er trait */
    height: 2px;
    /* 1er trait */
    background: white;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0px 7px 0px white, 0px 14px 0px white;
    /* les 2 traits suivants */
  }
  /* Apparition menu hamburger au clic */
  [type="checkbox"]:checked~ul {
    display: block;
    z-index: 5;
    position: absolute;
    top: 0px;
    right: 60px;
    left: 0px;
    min-height: 100px;
    background-image: linear-gradient(rgb(31, 178, 177), rgb(52, 158, 196));
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  header nav ul li {
    width: 100%;
    text-align: left;
    margin-left: 0px;
    padding: 2px;
    text-transform: uppercase;
    font-size: 90%;
  }
  header nav ul li a {
    color: white;
  }
}

/* Sur smartphones */

@media all and (max-width: 480px) {
  h3 {
    margin: 10px;
  }
  #logo_webagency, #logo_webagency img {
    max-width: 150px;
    /* taille logo principal */
  }
  .body_slide {
    height: 350px;
    /* taille slider */
  }
  #slider, .slide {
    height: 450px;
    /* taille slider */
  }
  .body_slide nav {
    display: none;
    /* Suppression navigation slider */
  }
  #projets .img_container {
    width: 50%;
  }
  #services img {
    max-width: 440px;
  }
  .services_description {
    flex-direction: column;
    margin-bottom: 20px;
  }
  #services .services_text {
    margin-top: 70px;
  }
}

/* reduction taille menu fixe très petits écrans */

@media and all (max-width: 380px) {
  header, .header_slide {
    height: 60px;
  }
}
