/* GENERAL */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, sans-serif; }

.clear {
  clear: both; }

p {
  color: #696A6A; }

.divider {
  width: 60%;
  height: 3px;
  background-color: #696A6A;
  opacity: 0.3;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.rond_bleu {
  width: 14px;
  height: 14px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  background: #5cadd3;
  border-radius: 50%;
  position: relative;
  border: 3px solid #fff;
}

.rond_bleu::before {
  content: "";
  border-left: 100px solid #cdcdcd;
  height: 1.4px;
  margin-top: 7px;
  position: absolute;
  left: 160%;
}

.rond_bleu::after {
  content: "";
  border-right: 100px solid #cdcdcd;
  height: 1.4px;
  margin-top: 7px;
  position: absolute;
  right: 160%;
}

/* HEADER */
header {
  height: 120px; }

header img {
  float: left;
  margin-top: 30px;
  margin-left: 15%;
  display: inline-block;
  vertical-align: middle;
}

header nav {
  float: right;
  margin-top: 50px;
  margin-left: 65%;
  position: absolute;
}

header nav ul li {
  float: left;
  display: inline-block;
  margin-right: 25px; }

header nav ul li a {
  color: #000;
  text-decoration: none;
}

header .active {
  border-top: 3px solid #64A6FB;
  padding-top: 30px;
}

header nav ul li a:hover {
  border-top: 3px solid #64A6FB;
  padding-top: 30px;
}

/* MAIN IMAGE */

#main-image {
  margin-bottom: 30px;
}

.slider {
  width: 100%;
  max-width: 1600px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.slides {
  width: calc(1600px * 2);
  animation: glisse 10s infinite;
}

.slide {
  float: left;
}

@keyframes glisse {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-1600px);
  }
  70% {
    transform: translateX(-1600px);
  }
  100% {
    transform: translateX(0);
  }
}

/* SERVICES */

#services {
  margin-bottom: 50px;
}

#services {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px; }

#services .title h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 45px;
  }

#services .title p {
  font-size: 15px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%; }

#services .title p {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
 }

#services .conteneur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%; }

#services .element-image:nth-child(1) {
  -ms-flex-item-align: start;
      align-self: flex-start; }

#services .element-text:nth-child(2) {
  width: 600px; }

#services .UX, .IU {
  margin-bottom: 4%; }

#services .icones {
  float: left;
  margin-right: 15px; }

#services h3 {
  font-size: 15px;
  font-family: Verdana;
  font-weight: bold;
  margin-bottom: 10px; }

#services p {
  font-size: 15px;
  text-align: justify; }

/* PROJETS */

#projets {
  margin-bottom: 50px;
}

#projets {
  text-align: center;
  margin-top: 5px;
  padding-top: 15px;
  background-color: #fff; }

#projets .title h1 {
  font-size: 45px;
  font-family: ARIAL;
  margin-bottom: 15px;
  font-weight: bold; }

#projets .fa-circle {
  color: #5cadd3;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px; }

#projets .title p {
  font-size: 15px;
  color: #717479;
  margin-bottom: 50px;
  margin-left: 25%;
  margin-right: 25%; }

#projets ul {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  background-color: #E0E0E0;
  padding-left: 0px;
  margin-bottom: 36px;
  border-radius: 5px;
  color: #64686D;
  font-size: 12px; }

#projets .active {
  background-color: #5cadd3;
  color: #fff;
  border-radius: 5px;
  border-bottom: 2px solid #468CAD;
 }

#projets li {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  cursor: pointer;
  font-weight: bold; }

#projets .block {
  display: inline-block;
}

#projets .activeli {
  opacity: 100 !important;
}

#projets .my_caret {
  opacity: 0;
  color: #468CAD;
  position: relative;
  font-size: 30px;
  right: 60px;
  top: 38px;
}

#projets .img_container {
  width: 20%;
  margin-right: 15px;
  margin-bottom: 15px;
  display: inline-block;
  position: relative; }

#projets .img_container img {
  width: 100%; }

#projets .img_container:hover .imgHover {
  opacity: 1; }

#projets .imgHover {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  opacity: 0;
  bottom: 4px;
  height: 95px;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease; }

#projets .text {
  position: absolute;
  color: #fff;
  font-size: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center; }

  #projets .exemple svg {
    position: absolute;
    top: -24px;
    right: 6px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 52px;
    background-color: #4794B1;
    font-size: 12px;
    padding: 12px;
    /* border-width: 2px; */
  }

/* CONTACT */

#contact {
  margin-top: 50px;
}

#contact .carte {
  z-index: -1;
  position: absolute;
  width: 100%;
}

#contact .background {
  margin-top: 50px;
  float: right;
  background: #fff;
  opacity: 0.8;
  width: 350px;
  margin-right: 70px;
}

#contact p, h3, h4 {
  text-align: left;
  margin-left: 15px;
}

#contact h3 {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#contact h4 {
  color: #64686D;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

#contact p {
  color: #64686D;
  margin-top: 10px;
  margin-bottom: 20px;
}

#contact p .tel {
  border-bottom-style: dotted;
}

textarea {
  width: 250px;
  height: 10em;
  border: 1px solid #ddd;
  margin-left: 15px;
  padding: 10px;
  font-size: 15px;
}

input[type="text"] {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  margin-left: 15px;
}

.button-3 {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 11px;
  background-color: #02b8dd;
  border-radius: 3px;
  border-style: none;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.button-3:hover {
  background-color: #444; }
